@media (max-width: 899px) {
  .modalWindow-styles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 285px;
    height: 300px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(234, 234, 234);
    z-index: 1000;
    border-radius: 20px;
    padding-top: 23px;
  }
}

@media (min-width: 900px) {
  .modalWindow-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 350px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(234, 234, 234);
    z-index: 1000;
    border-radius: 20px;
  }
}

.modalWindow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modalWindow-name-tech {
  display: flex;
  flex-direction: column;
}
