@media (max-width: 899px) {
  .modal-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(234, 234, 234);
    z-index: 1000;
  }

  .modal-mark {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 900px) {
  .modal-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 350px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(234, 234, 234);
    z-index: 1000;
  }

  .modal-mark {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 5px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-name-tech {
  display: flex;
  flex-direction: column;
}

.modal-tech {
  display: flex;
  border: 1px solid yellow;
  border-radius: 3px;
  width: auto;
}
