@media (min-width: 899px) {
  .modalForm-textarea {
    width: 200px;
    height: 25px;
    border: 1px solid darkgray;
    border-radius: 2px;
  }

  input[type="text"] {
    width: 100%;
    margin: 0px;
    background: #ffffff;
    border-bottom: 1px solid #0058ab;
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 7px;
  }

  input[type="text"]:focus {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 2px solid #0058ab;
    border-radius: 7px;
  }

  input[type="text"]::after {
    width: 100%;
    border-bottom: 2px solid #0058ab;
  }

  .modalForm-items {
    display: flex;
    width: 350px;
    flex-direction: column;
    gap: 10px;
  }

  .modalForm-text {
    font-size: 16px;
    width: 200px;
    height: 35px;
  }

  .modalForm-message {
    color: red;
  }
}

@media (max-width: 899px) {
  .shopinglist-textarea {
    height: 25px;
    border: 1px solid darkgray;
    border-radius: 2px;
  }

  input[type="text"] {
    width: 100%;
    margin: 0px;
    background: #ffffff;
    border-bottom: 1px solid #0058ab;
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 7px;
    touch-action: manipulation;
  }

  input[type="text"]:focus {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #0058ab;
    border-radius: 7px;
  }

  input[type="text"]::after {
    border-bottom: 2px solid #0058ab;
  }

  .modalForm-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .modalForm-text {
    font-size: 16px;
    height: 35px;
  }

  .modalForm-message {
    color: red;
  }
}
